# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv/
env/
venv/
winvenv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db


media/

.json
*.json
*.json
!config/*.json
logs/*.json


# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
.DS_Store
*.log
*.pth
*.h5
*.ckpt
*.pt
*.onnx
*.pkl
*.npz
*.npy
*.zip
*.tar
*.tar.gz
*.egg-info/

# CRAFT/Model/Output folders
.craft_text_detector/
**/models/
**/output/
**/crops/

